/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.lato-protabula_com {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto,
        helvetica, arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    max-width: var(--wrapper-max-width);
    margin: 0 auto;
    padding: var(--spacing-lg);
}
