<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - protabula_com</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <a asp-area="" asp-page="/Index">protabula_com</a>
            </div>
            <div>
                <a asp-area="" asp-page="/Index">Home</a>
                <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2025 - protabula_com - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>