/* Page-specific styles for the RAL colors list. */
.color-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-sm);
}

::deep .color {
    padding: var(--padding-lg);
    width: 19%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--padding-sm);
    text-align: center;
    text-decoration: none;

    color: #fff;
}

::deep .dark {
    color: #000;
    text-shadow: none;
}

.hex {
    text-transform: uppercase;
}

.number {
    font-size: 1.45rem;
    margin: 0 var(--gap-size);
    border-bottom: 1px solid currentColor;
    margin-bottom: var(--padding-md);
}

.name {
    font-size: small;
}

::deep .color:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
    ::deep .color {
        width: 32%;
        height: auto;
        padding: var(--padding-lg) 0;
    }
}
