:root {
    --padding-sm: 5px;
    --padding-md: 10px;
    --padding-lg: 15px;
    --padding-xl: 20px;

    --border-radius: 8px;

    --wrapper-max-width: 1200px;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto,
        helvetica, arial, sans-serif;
    margin: 0;

    font-size: 18px;
}
