@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PrivacyModel
@{
    ViewData["Title"] = Localizer["PrivacyTitle"];
}
<h1>@ViewData["Title"]</h1>

<p>@Localizer["PrivacyBody"]</p>