@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PrivacyModel
@{
    ViewData["Title"] = Localizer["PrivacyTitle"].Value;
    ViewData["MetaDescription"] = Localizer["MetaDescription"].Value;
    ViewData["Breadcrumbs"] = new List<(string, string?, object?)>
    {
        (Localizer["PrivacyTitle"].Value, null, null)
    };
}
<h1>@ViewData["Title"]</h1>

<p>@Localizer["PrivacyBody"]</p>