/* Page-specific styles for the RAL colors list. */
.color-grid {
    --color-box-size: 200px;
    --gap-size: 10px;

    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--color-box-size), 1fr)
    );
    gap: var(--gap-size);
}

.color {
    height: var(--color-box-size);
    width: var(--color-box-size);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--gap-size);

    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
